@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

$fontMain:'Merriweather', serif;
$fontSecondary:'Work Sans', sans-serif;

// variables para los textos
$textXl:4em;
$textLg:3em;
$textMd:2em;
$textSm:1em;